<% layout("layout/boilerplate") %>

<div class="row min-vh-75">
    <div class="col-8 offset-2 p-2">
        <br><h3>Edit Listings</h3><br>
        <form action="/listings/<%=listing._id%>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3"> 
                <label for="title" class="form-lable">Title</label>
                <input name="listings[title]" type="text" value="<%=listing.title%>" class="form-control" required/>
                <div class="valid-feedback">Title Looks good!.</div>
            </div>
            <div class="mb-3"> 
                <label for="description" class="form-lable">Description</label>
                <textarea name="listings[description]" class="form-control" required><%=listing.description%></textarea>
                <div class="invalid-feedback">Write description.</div>
            </div> 
            <div class="mb-3"> 
                <p>Orginal Image</p>
                <img src="<%= OrginalUrl %>"/>
            </div>
            <div class="row">
                <div class="mb-3 col-md-8"> 
                    <label for="file" class="form-lable">Upload Image</label>
                    <input name="listings[image]" type="file" class="form-control" />
                </div>
                <div class="mb-3 col-md-4"> 
                    <label for="category" class="form-label">Category:</label>
                    <select name="listings[category]" class="form-select" required>
                        <option value="Rooms" <%= listing.category === "Rooms" ? "selected" : "" %>>Rooms</option>
                        <option value="Iconic Rooms" <%= listing.category === "Iconic Rooms" ? "selected" : "" %>>Iconic Rooms</option>
                        <option value="Mountains" <%= listing.category === "Mountains" ? "selected" : "" %>>Mountains</option>
                        <option value="Castles" <%= listing.category === "Castles" ? "selected" : "" %>>Castles</option>
                        <option value="Amazing Pools" <%= listing.category === "Amazing Pools" ? "selected" : "" %>>Amazing Pools</option>
                        <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>Camping</option>
                        <option value="Farm" <%= listing.category === "Farm" ? "selected" : "" %>>Farm</option>
                        <option value="Arctic" <%= listing.category === "Arctic" ? "selected" : "" %>>Arctic</option>
                        <option value="Boat" <%= listing.category === "Boat" ? "selected" : "" %>>Boat</option>
                        <option value="Domes" <%= listing.category === "Domes" ? "selected" : "" %>>Domes</option>
                    </select>
                <div class="invalid-feedback">Please select a category</div>
            </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4"> 
                    <label for="price" class="form-lable" >Price</label>
                    <input name="listings[price]" type="number" value="<%=listing.price%>" class="form-control" required/>
                    <div class="invalid-feedback">Enter the valid price.</div>
                </div>
                <div class="mb-3 col-md-8"> 
                    <label for="location" class="form-lable">Location</label>
                    <input name="listings[location]" type="text" value="<%=listing.location%>" class="form-control" required/>
                    <div class="invalid-feedback">Enter your location.</div>
                </div> 
            </div>
            <div class="mb-3"> 
                <label for="country" class="form-lable">Country</label>
                <input name="listings[country]" type="text" value="<%=listing.country%>" class="form-control" required/>
                <div class="invalid-feedback">Enter your country.</div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Update</button>
        </form>
    </div>
</div>
